.App {
  font-family: sans-serif;
  text-align: center;
  position: relative;
}
p {
  margin: 0;
  padding: 0;
}

.dark-theme {
  height: 92vh;
  background-color: #343a40; /* Set the dark background color */
  color: #ffffff; /* Set the text color to white or a light color */
}
.monaco-text::before {
  display: flex;
  content: "";
  position: absolute;
  color: white;
  font-size: small;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-style: italic;
}

.Profile {
  display: flex;
  align-items: center;
  gap: 15px;
}

.Profile-Box {
}

.Profile-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.ProfileName {
  color: white;
}

.btn-link {
  text-decoration: none;
  color: black;
}

.code-logo {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}
